# General
.DS_Store
*.log
*.env
*.local
temp/
coverage/
logs/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IntelliJ IDEA-specific
.idea/
*.iml
out/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend (React/TypeScript)
frontend/node_modules/
frontend/build/
frontend/.env
frontend/coverage/
frontend/dist/
frontend/dist-ssr/

# Backend (Spring Boot)
backend/target/
backend/.env
backend/.classpath
backend/.project
backend/.settings/
backend/logs/
backend/idea/
backend/*.iml
backend/mvnw.cmd
backend/mvnw
